<button id="back-top" type="button" data-action="back-to-top" class="fixed bottom-6 right-6 w-12 h-12 rounded-full bg-primary text-white shadow-lg-c z-50 opacity-0 pointer-events-none transition-all hover:bg-primary-d" aria-label="{{ 'overlay.back_to_top'|trans }}">
    <i class="fa-solid fa-arrow-up"></i>
</button>
