<div id="toast" class="fixed bottom-6 left-1/2 -translate-x-1/2 bg-text-dark text-white px-6 py-3.5 rounded-full shadow-lg-c font-semibold text-sm z-[80] opacity-0 translate-y-4 pointer-events-none transition-all duration-300 flex items-center gap-2">
    <i class="fa-solid fa-circle-check text-secondary"></i>
    <span id="toast-msg">{{ 'overlay.added_to_cart'|trans }}</span>
</div>
